<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Failed Payment</h1>
    <p>There was a problem processing your payment, please contact support.</p>
  </body>
</html>
